In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import json
import re

# TRIPADVISOR

In [4]:
def get_hotel_rating(x):
    url = f"https://www.tripadvisor.com/Hotels-g60750-oa{x}-San_Diego_California-Hotels.html"
    data = requests.get(url)
    soup = BeautifulSoup(data.text)
    selector=soup.select('.ui_bubble_rating')
    data_scraped=[]
    rate=[]
    hotel=[]
    for i in "".join(str(selector)).split(" "):
        if i.startswith('alt='):
            rate.append(i.split('"')[1])
        elif i.startswith('href='):
            hotel.append(i.split("-")[4])
    for i in range(len(hotel)):
        hotel_rating = {"hotel_name":hotel[i],"rating":rate[i]}
        data_scraped.append(hotel_rating)  
    return data_scraped

In [5]:
last_list = [] 
for i in range(0,480,30):
    try:
        last_list += get_hotel_rating(i)
    except IndexError:
        break

In [6]:
df_tripadvisor = pd.DataFrame(last_list)
df_tripadvisor

                           hotel_name rating
0                  Bahia_Resort_Hotel    4.5
1      Catamaran_Resort_Hotel_and_Spa    4.5
2               Pacific_Terrace_Hotel    4.5
3    Manchester_Grand_Hyatt_San_Diego    4.5
4                       Tower23_Hotel    4.5
..                                ...    ...
351           Santa_Fe_Park_RV_Resort      2
352                 RK_Buckner_Hostel    2.5
353                     West_Park_Inn      2
354                     Hostel_Habibi    2.5
355                   San_Diego_Motel      1

[356 rows x 2 columns]

In [7]:
df_tripadvisor.to_csv(r'hotel_rates_tripadvisor.csv', index = False)