In [2]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import json
import re

# BOOKING

In [3]:
def get_hotel_rating(x):
    url = f"https://www.booking.com/searchresults.en-gb.html?aid=356980&label=gog235jc-1FCAMo7AE48gNIM1gDaEaIAQGYAQm4AQfIAQzYAQHoAQH4AQyIAgGoAgO4AoX7of0FwAIB0gIkZTM0NTE3ZmYtYmY5OC00ODI5LWI3ODYtNjZmNTYzODZiYTVk2AIG4AIB&sid=79a310e0bfb6ef99a0f3f732838bf8e4&tmpl=searchresults&class_interval=1&dest_id=20015725&dest_type=city&dtdisc=0&inac=0&index_postcard=0&label_click=undef&order=bayesian_review_score&postcard=0&raw_dest_type=city&room1=A%2CA&sb_price_type=total&shw_aparth=1&slp_r_match=0&srpvid=d608a46757aa0032&ss_all=0&ssb=empty&sshis=0&top_ufis=1&rows=25&offset={x}"
    data = requests.get(url)
    soup = BeautifulSoup(data.text)
    rate = soup.select('.bui-review-score__badge')
    hotel = soup.select('.sr-hotel__name')
    data_scraped=[]
    hotels=[i.text.strip() for i in hotel]
    rates=[i.text for i in rate]
    for i in range(len(hotels)):
        hotel_rating = {"hotel_name":hotels[i],"rating":rates[i]}
        data_scraped.append(hotel_rating)   
    return data_scraped

In [4]:
last_list = [] 
for i in range(0,975,25):
    try:
        last_list += get_hotel_rating(i)
    except IndexError:
        break

In [5]:
df_booking = pd.DataFrame(last_list)
df_booking

                                            hotel_name rating
0                     Manchester Grand Hyatt San Diego   8.7
1             Hotel Indigo San Diego - Gaslamp Quarter   8.6
2                          Paradise Point Resort & Spa   8.2
3                                 Omni San Diego Hotel   8.9
4    Hilton Garden Inn San Diego Mission Valley/Sta...   8.0
..                                                 ...    ...
970                                  Solamar San Diego   8.4
971              Baymont by Wyndham San Diego Downtown   7.7
972               Andaz San Diego - a Concept by Hyatt   8.9
973               Hampton Inn San Diego Mission Valley   8.3
974                 San Diego Marriott Gaslamp Quarter   8.3

[975 rows x 2 columns]

In [6]:
df_booking.to_csv(r'hotel_rates_booking.csv', index = False)