In [152]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import json
import re

# TRIPADVISOR

In [253]:
def get_hotel_rating(x):
    url = f"https://www.tripadvisor.com/Hotels-g60750-oa{x}-San_Diego_California-Hotels.html"
    data = requests.get(url)
    soup = BeautifulSoup(data.text)
    selector=soup.select('.ui_bubble_rating')
    data_scraped=[]
    rate=[]
    hotel=[]
    for i in "".join(str(selector)).split(" "):
        if i.startswith('alt='):
            rate.append(i.split('"')[1])
        elif i.startswith('href='):
            hotel.append(i.split("-")[4])
    for i in range(len(hotels)):
        hotel_rating = {"hotel_name":hotel[i],"rating":rate[i]}
        data_scraped.append(hotel_rating)  
    return data_scraped

In [254]:
last_list = [] 
for i in range(0,480,30):
    try:
        last_list += get_hotel_rating(i)
    except IndexError:
        break

In [256]:
df_tripadvisor = pd.DataFrame(last_list)
df_tripadvisor

                                            hotel_name rating
0                                   Bahia_Resort_Hotel    4.5
1                       Catamaran_Resort_Hotel_and_Spa    4.5
2                                  Kings_Inn_San_Diego    4.5
3                     Manchester_Grand_Hyatt_San_Diego    4.5
4    SureStay_Hotel_By_Best_Western_San_Diego_Pacif...    4.5
..                                                 ...    ...
195                   Travelodge_by_Wyndham_San_Ysidro      3
196                             Rodeway_Inn_San_Ysidro    2.5
197  Days_Inn_by_Wyndham_Mission_Valley_Qualcomm_St...    2.5
198                    Sunshine_Suites_at_Little_Italy      2
199                                   Ace_Budget_Motel      1

[200 rows x 2 columns]